In [0]:
import pandas as pd

# Import data into a dataframe

In [0]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

# Dropping all cells with a borough that is Not assignedÂ¶

In [0]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

# Reset the index and dropping the previous index
df = df.reset_index(drop=True)

In [17]:
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

# Combining Neighbourhoods based on similar Postcode and Borough

In [18]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head(10)

  Postcode      Borough                                  Neighbourhood
0      M1B  Scarborough                                  Rouge,Malvern
1      M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough                Guildwood,Morningside,West Hill
3      M1G  Scarborough                                         Woburn
4      M1H  Scarborough                                      Cedarbrae
5      M1J  Scarborough                            Scarborough Village
6      M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7      M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8      M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
9      M1N  Scarborough                     Birch Cliff,Cliffside West

# Removing any space in the start of the string

In [0]:
df['Neighbourhood'] = df['Neighbourhood'].str.strip()

# Assigning Borough values to the Neignbourhood where vlaue is "Not assigned"

In [0]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']

In [22]:
# Check if the Neighbourhood for Queen's Park changed 
df[df['Borough'] == 'Queen\'s Park']

   Postcode       Borough Neighbourhood
93      M9A  Queen's Park  Queen's Park

In [21]:
df.shape

(103, 3)

# Loading the Geospatial Data

In [23]:
link = "http://cocl.us/Geospatial_data"
df1 = pd.read_csv(link)

df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# Changing the column name Postal code to Postcode to merge the two data frames together

In [24]:
df1.columns = ['Postcode','Latitude','Longitude']

cols = df1.columns.tolist()
cols

['Postcode', 'Latitude', 'Longitude']

# Merging the two data frames together based on their Postcode

In [25]:
df_new = pd.merge(df, df1, on='Postcode')
df_new.head()

  Postcode      Borough  ...   Latitude  Longitude
0      M1B  Scarborough  ...  43.806686 -79.194353
1      M1C  Scarborough  ...  43.784535 -79.160497
2      M1E  Scarborough  ...  43.763573 -79.188711
3      M1G  Scarborough  ...  43.770992 -79.216917
4      M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]